.header {
  --theme-color: var(--theme-hp-color);
  --text-color: var(--hp-text-color);
  &.header-dell {
    --theme-color: var(--theme-dell-color);
    --text-color: var(--dell-text-color);
  }
}

.header {
  background: var(--theme-color);
  color: var(--text-color);
  .header__toggle {
    &:hover {
      @apply bg-zinc-600/80;
    }
  }
  .header__icon {
    font-size: 3.3vw;
  }
  &.header-dell {
    .header__toggle {
      width: auto;
      border-radius: 0.1vw;
      padding: 0.1vw 1vw;
      &:hover {
        @apply bg-blue-100/50;
      }
    }
    .header__icon {
      font-size: 4.5vw;
    }
  }
}
